/* Page CSS Reset */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text-mid {
    font-size: 1.2rem;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
}


nav ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0.3rem 0.3rem 0.3rem -8%;
}


nav li {
    display: inline;
}

.nav-logo {
    width: 25%;
    border-radius: 0.4rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero-section img{
    width:100vw;
    height: 60vh;
    position: relative;
    z-index: -1;
}
.buttons-area{
    position: absolute;
    top: 50vh;
    left:0;
    bottom: 10%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-button{
    display: block;
    margin: auto;
    color: black;
    font-size: 1.5em;
}
.buttons-area ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 25%;
}
.buttons-area h2{
    text-align: center;
}

.buttons-area ul li {
    display: inline-block;
    margin-left: 20px;
}
.buttons-area ul li button {
    display: block;
    margin: 0 auto;
    height: 2rem;
  }
.buttons-area ul li button:hover {
    color: red;
    background-color: grey ;
    text-decoration: underline;
  }

/* Cards */
  .card{
    float:left;
    width:40%;
    margin: 5%;
  }
  .inner-card{
    float:left;
    width:50%;
    padding-right: 20px;
  }
  .inner-card p{
    font-size: 1.5rem;
  }

  /* Footer  */

.footer-content {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-content a:hover {
    color: #000;
    text-decoration: underline;
  }
  